<div class="box">
  <div>
    <div class="header-box">
      <div>
        <span class="title">Name</span>
        <input class="input" [value]='layoutName' (input)='ChangelayoutName($event)'/>
      </div>
    </div>

    <div class="layout">
      <div>
        <button class="add-row">
          <span class="add-row-span" (click)="DeleteRow()">
            <fa-icon class="plus-minus-icon" [icon]="minusIcon"></fa-icon>
          </span>
          AddRow
          <span class="add-row-text" (click)="addRow()">
            <fa-icon class="plus-minus-icon" [icon]="plusIcon"></fa-icon>
          </span>
        </button>
      </div>
      <app-rows-and-cells
        [result]="result"
        [heightOfWindow]="heightOfWindow"
        [selectedBorder]='selectedcellBoder'
        (cellEvent)="cellClick($event)"
      >
      </app-rows-and-cells>
    </div>
    <div class="save-result">
      <button class="save-button" (click)="saveResult()">Save</button>
    </div>
  </div>
  <div style="
      flex: 22%;
      background-color: #ffffff;
      border: 2px solid teal;
      border-radius: 5px;
      padding: 2%;
      height:91%;
      width:100%;
      overflow-y:scroll;
      overflow-x: hidden;
    "
  >
    <div class="half-inner">
      <div class="show-color" *ngIf="showColor">
        <div>
          <color-circle (onChange)="handleBorderColorChange($event)"></color-circle>
        </div>
      </div>
      <div class="prop-header" *ngIf="hideProperties">
        <div class="inner-prop">
          <span class="properties">Properties</span>
        </div>
        <div class="prop-alignment">
          <span>Outline</span>
          <ui-switch class="switch" [checked]='isOutlineNeeded' (valueChange)="onChangeOutlineEvent($event,'Outline')">
          </ui-switch>

          <span *ngIf="isOutlineNeeded">Color</span>

          <div *ngIf="isOutlineNeeded" style="
              height: 20px;
              width: 20px;
              border: 1px solid black;
              border-radius: 10px;
              cursor: pointer;
            " [style.background-color]="selectedColor" (click)="showColorPalette()"></div>

          <span>Style</span>
          <div style="
              height: 20px;
              width: 20px;
              background-color: #ffffff;
              cursor: pointer;
            "
            [ngStyle]="{'border':(rowandColumnRounded === false && rowandColumnRectangle === true) ? '2px solid teal' : '2px solid black'}"
            (click)="styleForRowAndColumn('rectangle')"></div>
          <div style="
              height: 20px;
              width: 20px;
              background-color: #ffffff;
              border-radius: 7px;
              cursor: pointer;
            "
            [ngStyle]="{'border':(rowandColumnRectangle === false && rowandColumnRounded === true) ? '2px solid teal' : '2px solid black'}"
            (click)="styleForRowAndColumn('rounded')"></div>
        </div>
        <div class="prop-alignment">
          <span>Header</span>
          <ui-switch class="switch" (valueChange)="onChangeOutlineEvent($event,'Header')"></ui-switch>

          <span>Footer</span>
          <ui-switch class="switch" (valueChange)="onChangeOutlineEvent($event,'Footer')"></ui-switch>

        </div>

        <div  class="prop-alignment">
          <span>Margin</span>
          <input style='width:100%;flex:20%;border-radius: 2px;font-size: 14px' [value]='overAllCellMarigin' (input)='headerFooterValue($event,"cellMarigin")' />
          <span class="layout-size-percent">px</span>

          
          <span>Padding</span>
          <input style='width:100%;flex:20%;border-radius: 2px;font-size: 14px' [value]='overAllCellPadding' (input)='headerFooterValue($event,"cellPadding")' />
          <span class="layout-size-percent">px</span>

          
        </div>
       
      </div>
      <div *ngIf="isHeaderNeeded" style='display: flex;flex-direction: row;column-gap: 10px;margin-top: 10px;border: 1px solid teal;border-radius:5px;padding: 10px;'>
        <span style='font-size: 14px;letter-spacing: 1px;flex:70%'>Header Size (40px-100px)</span>
        <input style='width:100%;flex:20%;border-radius: 2px;font-size: 14px'[value]='headerValue'(input)='headerFooterValue($event,"header")' />
        <span style='font-size: 14px;letter-spacing: 1px;flex:10%'>px</span>
       
      </div>
      <span *ngIf='headerError' style='font-size: 14px;letter-spacing: 1px;color:red'>{{headerErrorValue}}</span>

      <div *ngIf="isFooterNeeded" style='display: flex;flex-direction: row;column-gap: 10px;margin-top: 10px;border: 1px solid teal;border-radius:5px;padding: 10px;'>
        <span style='font-size: 14px;letter-spacing: 1px;flex:70%'>Footer Size (20px -50px)</span>
        <input style='width:100%;flex:20%;border-radius: 2px;font-size: 14px' [value]='footerValue'(input)='headerFooterValue($event,"footer")' />
        <span style='font-size: 14px;letter-spacing: 1px;flex:10%'>px</span>

      </div>
      <span *ngIf='footerError'style='font-size: 14px;letter-spacing: 1px;color:red' >{{footerErrorValue}}</span>


      <div class="rows-part" *ngIf="showSelectedCellSideBar">
        <div>
          <div class="header-boxes">
            <span>{{selectedRow.rowName}}</span>
            <div>
              <span>
                <fa-icon class="icon-row" [icon]="minusIcon" (click)="removeColumnToParticularRow(selectedRow.rowName)">
                </fa-icon>
              </span>
              <fa-icon class="icon-row-column" [icon]="faColumn"></fa-icon>

              <span>
                <fa-icon class="icon-row" [icon]="plusIcon" (click)="addColumnToParticularRow(selectedRow.rowName)">
                </fa-icon>
              </span>
            </div>
          </div>
          <div class="margin-layout">
            <div class="layout-size">
              <div>
              <span class="layout-size-span">Height</span>
              <input
                class="layout-size-input"
                (input)="inputMarginChange($event,'size',sideRowHeader,sideColumnHeader,'row')"
                [value]="selectedRow.rowHeight" />
              <span class="layout-size-percent">%</span>
              </div>
              <span class="add-row-text" (click)='deleteSpecificRowsAndCells(selectedRow.rowName,"")' >
                <fa-icon class="trash-icon" [icon]="trash"></fa-icon>
              </span>
            </div>
            <div class="margin-part">
              <span>Margin</span>
              <div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">L</span>
                  <input class="cell-and-row-input"
                    (input)="inputMarginChange($event,'L',sideRowHeader,sideColumnHeader,'row')"
                    [value]="selectedRow.marginLeft" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">R</span>
                  <input class="cell-and-row-input"
                    (input)="inputMarginChange($event,'R',sideRowHeader,sideColumnHeader,'row')"
                    [value]="selectedRow.marginRight" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">T</span>
                  <input class="cell-and-row-input"
                    (input)="inputMarginChange($event,'T',sideRowHeader,sideColumnHeader,'row')"
                    [value]="selectedRow.marginTop" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">B</span>
                  <input class="cell-and-row-input"
                    (input)="inputMarginChange($event,'B',sideRowHeader,sideColumnHeader,'row')"
                    [value]="selectedRow.marginBottom" />
                </div>
              </div>
            </div>
            <div class="margin-part">
              <span>Padding</span>
              <div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">L</span>
                  <input class="cell-and-row-input"
                    (input)="inputPaddingChange($event,'L',sideRowHeader,sideColumnHeader,'row')"
                    [value]="selectedRow.paddingLeft" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">R</span>
                  <input class="cell-and-row-input"
                    (input)="inputPaddingChange($event,'R',sideRowHeader,sideColumnHeader,'row')"
                    [value]="selectedRow.paddingRight" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">T</span>
                  <input class="cell-and-row-input"
                    (input)="inputPaddingChange($event,'T',sideRowHeader,sideColumnHeader,'row')"
                    [value]="selectedRow.paddingTop" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">B</span>
                  <input class="cell-and-row-input"
                    (input)="inputPaddingChange($event,'B',sideRowHeader,sideColumnHeader,'row')"
                    [value]="selectedRow.paddingBottom" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div style="
              display: flex;
              align-items: center;
              height: 15%;
              background-color: teal;
              border-radius: 5px;
              width: 100%;
            ">
            <span style="
                color: beige;
                font-size: 18px;
                font-weight: lighter;
                letter-spacing: 1px;
              ">{{selectedCell.colName}}</span>
          </div>
          <div style="display: flex; flex-direction: column; padding: 5px;">
            <div style="
                display: flex;
                flex-direction: row;
                column-gap: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
              "
            >
              <span style="font-size: 14px; letter-spacing: 1px;">Width</span>
              <input
                class="cell-and-row-input"
                [value]="selectedCell.colWidth"
                (input)="inputMarginChange($event,'size',sideRowHeader,sideColumnHeader,'col')"
              />
              <span style="font-size: 14px; letter-spacing: 1px;">%</span>
              <span style="font-size: 14px; letter-spacing: 1px;">Cell Height</span>
              <input
                class="cell-and-row-input"
                [value]="selectedCell.colHeight"
                (input)="inputMarginChange($event,'height',sideRowHeader,sideColumnHeader,'col')"
              />
              <span style="font-size: 14px; letter-spacing: 1px;">%</span>
              <span class="add-row-text" (click)='deleteSpecificRowsAndCells(selectedRow.rowName,selectedCell.colName)' >
                <fa-icon class="trash-icon" [icon]="trash"></fa-icon>
              </span>

            </div>

            <span class="cell-title">Margin</span>
            <div class="cell-layout">
              <div>
                <span style="font-size: 14px; letter-spacing: 1px;">L</span>
                <input class="cell-and-row-input"
                  (input)="inputMarginChange($event,'L',sideRowHeader,sideColumnHeader,'col')"
                  [value]="selectedCell.marginLeft" />
              </div>
              <div>
                <span style="font-size: 14px; letter-spacing: 1px;">R</span>
                <input class="cell-and-row-input"
                  (input)="inputMarginChange($event,'R',sideRowHeader,sideColumnHeader,'col')"
                  [value]="selectedCell.marginRight" />
              </div>
              <div>
                <span style="font-size: 14px; letter-spacing: 1px;">T</span>
                <input class="cell-and-row-input"
                  (input)="inputMarginChange($event,'T',sideRowHeader,sideColumnHeader,'col')"
                  [value]="selectedCell.marginTop" />
              </div>
              <div>
                <span style="font-size: 14px; letter-spacing: 1px;">B</span>
                <input class="cell-and-row-input"
                  (input)="inputMarginChange($event,'B',sideRowHeader,sideColumnHeader,'col')"
                  [value]="selectedCell.marginBottom" />
              </div>
            </div>

            <div>
              <span class="cell-title">Padding</span>
              <div class="cell-layout">
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">L</span>
                  <input class="cell-and-row-input"
                    (input)="inputPaddingChange($event,'L',sideRowHeader,sideColumnHeader,'col')"
                    [value]="selectedCell.paddingLeft" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">R</span>
                  <input class="cell-and-row-input"
                    (input)="inputPaddingChange($event,'R',sideRowHeader,sideColumnHeader,'col')"
                    [value]="selectedCell.paddingRight" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">T</span>
                  <input class="cell-and-row-input"
                    (input)="inputPaddingChange($event,'T',sideRowHeader,sideColumnHeader,'col')"
                    [value]="selectedCell.paddingTop" />
                </div>
                <div>
                  <span style="font-size: 14px; letter-spacing: 1px;">B</span>
                  <input class="cell-and-row-input"
                    (input)="inputPaddingChange($event,'B',sideRowHeader,sideColumnHeader,'col')"
                    [value]="selectedCell.paddingBottom" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-dashboard></app-dashboard> -->
