
.box {
  display: flex;height:97vh;flex-direction: row;justify-content: space-between;column-gap:5px;
}
.box > div {
  flex:78%;background-color:#ecece1;border:2px solid teal;border-radius: 5px;padding:1%;overflow-y:hidden;width:100%;height:95%
}
.header-box{
  background-color:#FFFFFF;border-radius: 5px;height: 80px;width:100%;margin-bottom: 20px;
}
.header-box > div{
  display: flex;flex-direction: column;align-items:stretch;padding: 15px;row-gap: 5px; 
}
.header-box > div .title{
  color:#949292;font-size:16px;font-weight: lighter;letter-spacing: 1px;
}
.header-box > div .input{
  width: 90%;background-color: #fbfbfb;border: 1px solid #d7d4d5;height: 25px;border-radius: 5px;}
.layout{
  height: 72vh;padding: 10px;border-radius: 5px;background-color: #FFFFFF;overflow-y:hidden ;
}
.layout > div {
  display: flex;justify-content: flex-end;
}
.layout > div .add-row{
  display:flex;flex-direction: row;justify-content: space-between;align-items: center;width:12%;background-color:teal;color:#FFFFFF;border:1px solid teal;border-radius: 5px;height:30px;cursor: pointer;margin-bottom: 5px;font-size: 15px;
}
.add-row-span {
  font-size: 15px;background-color: #FFFFFF;border-radius: 2px;text-align: center;margin-top:2px
}
.plus-minus-icon{
  color: teal;cursor: pointer;margin:5px;size: 1px;
}
.trash-icon{
  color: red;cursor: pointer;margin:5px 0px 5px 35px;size: 1px;
}
.add-row-text{
  font-size: 15px;background-color: #FFFFFF;text-align: center;margin-top: 2px;border-radius: 2px;
}

.save-result{
  display: flex;justify-content: flex-end;margin:5px
}

.save-button{
  width:10%;background-color:#008080;color:#FFFFFF;border:1px solid teal;border-radius: 5px;height:30px;cursor: pointer;font-size: 15px;
}

.half-inner {
  display: flex;flex-direction: column;
}

.show-color {
  display: flex;flex-direction: column;justify-content: center;height:150px;background-color: #FFFFFF;border: 1px solid teal;border-radius: 5px;
}
.show-color > div {
  display: flex;align-items: center;justify-content: center;
}
.prop-header{
  background-color:#FFFFFF;height:170px;border:1px solid teal;border-radius: 5px;width:100%;
}
.inner-prop{
  display: flex;align-items: center;height: 25%;background-color: teal;border-radius: 5px;width:100%
}
.properties {
  color: beige;font-size: 18px;font-weight: lighter;letter-spacing: 1px;
}
.prop-alignment{
  display: flex;flex-direction: row;column-gap:5px;align-items: center;margin: 5px;width:95%;flex-wrap: nowrap;
}
.prop-alignment > span {
  font-size: 14px;letter-spacing: 1px;
}
.switch {
  margin-bottom: 10px;
  border: none;
}
.rows-part{
  display: flex;flex-direction: column;margin-top: 10px;row-gap: 15px; column-gap: 10px;
}
.rows-part > div {
  background-color:#FFFFFF;height:220px;border:1px solid teal;border-radius: 5px;
}
.header-boxes {
  display: flex;justify-content: space-between;height: 15%;background-color: teal;border-radius: 5px;width:100%;align-items: center;
}
.header-boxes > span {
  color: beige;font-size: 18px;font-weight: lighter;letter-spacing: 1px;
}
.header-boxes > div {
  display: flex;flex-direction: row;justify-content: flex-end;align-items: center;margin-right: 10px;
}
.header-boxes > div >span {
  font-size: 15px;background-color: #FFFFFF;border-radius: 2px;margin-top: 2px}
.icon-row{
  color: #008080;cursor: pointer;margin:5px;size: 1px;
}
.icon-row-column {
  color: #FFFFFF;margin:5px
}

.margin-layout {
  display: flex;flex-direction: column;padding: 5px;
}
.layout-size {
  display: flex;flex-direction: row;column-gap: 5px;margin-top: 5px;margin-bottom: 5px;justify-content: space-between;
}
.layout-size-span{
  font-size: 14px;letter-spacing: 1px;
}
.layout-size-input{
  width: 30px;font-size: 12px;margin: 2px 0px 0px 5px;
}
.layout-size-percent{
  font-size: 14px;letter-spacing: 1px;margin-left: 5px;
}
.margin-part > span{
  font-size: 14px;letter-spacing: 1px;
}
.margin-part > div{
  display: flex;flex-direction: row;justify-content: space-between;padding: 10px;}
.margin-part >div > div {
  display: flex;flex-direction: row;column-gap: 5px;
}

.cell-layout {
  display: flex;flex-direction: row;justify-content: space-between;padding: 10px;
}

.cell-layout > div {
  display: flex;flex-direction: row;column-gap: 5px;
}

.cell-title {
  font-size: 14px;letter-spacing: 1px;

}

.cell-and-row-input {
  width: 30px;font-size: 12px
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FFFFFF; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d7d4d5; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF; 
  }




 