<!-- <div style="display: flex;flex:1;height:98vh;margin: 0;"> -->


  <!-- <div style="width: 97%;height:85%;border: 1px solid #d7d4d5;border-radius: 5px;padding: 15px;overflow-x: hidden;">
    <div *ngFor="let res of result; let i = index;"
      style="display:flex;flex-direction: row;row-gap: 30px;column-gap:20px;" [style.height.%]='res.rowHeight'
      [style.margin-left.px]='res.marginLeft && res.marginLeft'
      [style.margin-right.px]='res.marginRight && res.marginRight'
      [style.margin-top.px]='res.marginTop && res.marginTop'
      [style.margin-bottom.px]='res.marginBottom && res.marginBottom'
      [style.padding-left.px]='res.paddingLeft && res.paddingLeft'
      [style.padding-right.px]='res.paddingRight && res.paddingRight'
      [style.padding-top.px]='res.paddingTop && res.paddingTop'
      [style.padding-bottom.px]='res.paddingBottom && res.paddingBottom' [id]="res">


      <div *ngFor="let col of res.columns" style='background-color:#FFFFFF;cursor: pointer;border:1px solid gray'
        [style.width.%]='col.columnWidth' [style.margin-left.px]='col.marginLeft && col.marginLeft'
        [style.margin-right.px]='col.marginRight && col.marginRight'
        [style.margin-top.px]='col.marginTop && col.marginTop'
        [style.margin-bottom.px]='col.marginBottom && col.marginBottom'
        [style.padding-left.px]='col.paddingLeft && col.paddingLeft'
        [style.padding-right.px]='col.paddingRight && col.paddingRight'
        [style.padding-top.px]='col.paddingTop && col.paddingTop'
        [style.padding-bottom.px]='col.paddingBottom && col.paddingBottom' [id]="col.id">
        <h5>{{res.rowName}}{{col.columnName}}</h5>
      </div>

    </div>
  </div> -->

  <app-rows-and-cells [result]='result'[heightOfWindow]="heightOfWindow"></app-rows-and-cells>



<!-- </div> -->