::-webkit-scrollbar {
    width: 3px;
    height: 4px;              /* height of horizontal scrollbar ← You're missing this */

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FFFFFF; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d7d4d5; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF; 
  }