<div style="display: flex;width:100%;padding: 0px;margin:0px" [style.height.vh]='heightOfWindow'>


    <div
        style="width: 100%;height:95%;border: 1px solid #d7d4d5;border-radius: 5px;overflow-x: scroll;overflow-y:scroll;"[style.margin.px] = 'result.margin' [style.padding.px] = 'result.padding'>
        <div *ngIf='result.isHeaderNeeded' style='display:flex;margin-bottom: 5px;' [style.height.px]='result.headerHeight'
        [ngStyle]="{'border-radius':(result.rowandColumnRounded === false) ? '0px' : '10px',
                'border':(result.isOutlineNeeded === true)?result.borderColor : '2px dashed #E8E8E8'

            }"
        >
        </div>
        <div *ngFor="let res of result.layout; let i = index;"

            style="display:flex;flex:1 0 auto;flex-direction: column;flex-wrap: wrap;row-gap: 0px;column-gap: 0px;align-content: flex-start;max-width: 100%"  [style.height.%]='res.rowHeight'
            [style.margin-left.px]='res.marginLeft && res.marginLeft'
            [style.margin-right.px]='res.marginRight && res.marginRight'
            [style.margin-top.px]='res.marginTop && res.marginTop'
            [style.margin-bottom.px]='res.marginBottom && res.marginBottom'
            [style.padding-left.px]='res.paddingLeft && res.paddingLeft'
            [style.padding-right.px]='res.paddingRight && res.paddingRight'
            [style.padding-top.px]='res.paddingTop && res.paddingTop'
            [style.padding-bottom.px]='res.paddingBottom && res.paddingBottom'
            [ngStyle]="
            {'
            border-radius':(result.rowandColumnRounded === false) ? '1px' : '10px'
            }"

            [id]="res"
            
            >


            <div *ngFor="let col of res.columns" style='background-color:#FFFFFF;cursor: pointer;display: flex;align-items: stretch;box-sizing:border-box;'
                [style.height.%]='col.columnHeight'
                [style.width.%] = 'col.columnWidth'
                 [style.margin-left.px]='col.marginLeft && col.marginLeft'
                [style.margin-right.px]='col.marginRight && col.marginRight'
                [style.margin-top.px]='col.marginTop && col.marginTop'
                [style.margin-bottom.px]='col.marginBottom && col.marginBottom'
                [style.padding-left.px]='col.paddingLeft && col.paddingLeft'
                [style.padding-right.px]='col.paddingRight && col.paddingRight'
                [style.padding-top.px]='col.paddingTop && col.paddingTop'
                [style.padding-bottom.px]='col.paddingBottom && col.paddingBottom'
                [ngStyle]="{'border-radius':(result.rowandColumnRounded === false) ? '0px' : '10px',
                'border': (col.selectedCellBorder === '' ? result.isOutlineNeeded === true ?col.borderColor : '1px dashed gray' : col.selectedCellBorder)
            }"

                [id]="col.id"
                (click)="getRow(col.columnName,res.rowName)">
                <h5>{{res.rowName}}{{col.columnName}}</h5>
            </div>

        </div>
        <div *ngIf='result.isFooterNeeded' style='display:flex;margin-top: 10px;' [style.height.px]='result.footerHeight' 
        [ngStyle]="{'border-radius':(result.rowandColumnRounded === false) ? '0px' : '10px',
                'border':(result.isOutlineNeeded === true)?result.borderColor : '2px dashed #E8E8E8'

            }"
        >

        </div>

    </div>
</div>